@media (max-width: 420px) {
  .sign-up-button {
    padding: 3px;
    width: 38px;
    font-size: 4px;
    border-radius: 4px;
  }

  .body {
    gap: 24px;
    padding: 24px 0;
  }

  .body-info div {
    margin: 4px 0;
  }

  .header .logo {
    font-size: 8px;
  }

  .links a {
    font-size: 6px;
  }

  .main-text {
    font-size: 12px;
  }

  .secondary-text {
    font-size: 6px;
  }

  .body-image {
    max-width: 280px;
  }

  .main-img {
    height: 80px;
  }

  .content {
    width: 50px;
    height: 110px;
    font-size: 5px;
  }

  .content img {
    height: 50px;
    border-width: 2px;
    border-radius: 10px;
  }

  .info-header {
    font-size: 14px;
    padding: 18px;
  }

  .contents {
    padding: 0 0 16px 0;
  }

  .quotes-container {
    height: 150px;
  }

  .quotes {
    font-size: 8px;
  }

  #author {
    font-size: 6px;
    margin: 0;
  }

  .call-to-action-container {
    padding: 36px;
    height: 150px;
  }

  .call-to-action {
    padding: 16px;
    width: 912px;
    height: 40px;
  }

  .cta-main-text {
    font-size: 10px;
  }

  .cta-secondary-text {
    font-size: 6px;
    padding: 0;
  }

  .cta-sign-up-button {
    border-width: 1px;
    font-size: 6px;
    padding: 4px 8px;
    border-radius: 6px;
    width: 46px;
  }

  .footer-content {
    height: 32px;
    font-size: 6px;
  }

}